<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>股票预测系统</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!--header-->
    <div class = "header">
      <h1>欢迎使用预测系统</h1>
    </div>

    <!--input box-->
    <div class = "inputBox">
      <form method="POST">
        <label for="ticker">请输入股票代码:</label>
        <input type="text" id="ticker" name="ticker" placeholder="例如：600519.SS">
        <button type="submit">预测</button>
      </form>
  
      {% if prediction %}
      <div class="result">
        <h2>预测结果：</h2>
        <span class="prediction {{ prediction_class }}">{{ prediction }}</span>
      </div>
    {% endif %}
  </div>
</body>
</html>