body{
  background: linear-gradient(to right,pink,blue);
  margin: 0;
  height: 100vh;
  position: relative;
}
h1{
  font-size: 40px;
  font-family: "KaiTi", "楷体", serif;
  color:white;
}
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

label {
  font-family: "KaiTi", "楷体", serif;
  color: white;
  font-size: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.header{
  width:50vw;
  height: 4vh;
  padding: 20px;
  border: 5px solid white;
  border-radius: 10px;
  background-color: rgb(252, 172, 172);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  position:absolute;
  top:5%;
  left:50%;
  transform: translate(-50%,-15%);
  /*字体*/
  text-align: center;
  line-height: 1px;
}

.inputBox{
  width: 50vw;
  height: 30vh;
  padding: 20px;
  border: 5px solid white;
  border-radius: 10px;
  background-color: rgb(151, 100, 245);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  position:absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-30%);
  text-align: center;
  line-height: 1px;
}

.result{
  margin-top: 30px;
}
.result h2 {
  display: inline;
  font-family: "KaiTi", "楷体", serif;
  color: white;
  margin-right: 20px;
}

.result .prediction {
  font-family: "KaiTi", "楷体", serif;
  color: white;
  font-size: 30px;
}

.prediction.up {
  color: red; /* 涨：红色 */
  font-weight: bold;
}

.prediction.down {
  color: rgb(3, 71, 3); /* 跌：绿色 */
  font-weight: bold;
}

.prediction.neutral {
  color: white; /* 无明显趋势：白色 */
  font-weight: bold;
}